{% load static %}
<!-- Footer section -->
<footer class="footer-section">
    <div class="footer-bg-area set-bg" data-setbg="{% static 'img/footer-bg.jpg' %}">
        <div class="container d-flex justify-content-center align-items-end h-75">
            <div class="row widgets footer-widgets">
                        <div class="col-lg-5 col-md-5 col-12">
                            <div class="single-widget widget-about d-flex flex-column">
                                <h5 class="widget-title">Sobre Nosotros</h5>
                                <img src="{% static 'img/logo_t.png' %}" alt="Logo img" class="align-self-center">
                                <p class="text-light">Appetito ofrece servicios de carta online a restaurantes...</p>
                                <a href="{% url 'about' %}">Leer más...</a>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-7 col-12">
                            <div class="single-widget widget-contact">
                                <h5 class="widget-title">Contáctanos</h5>
                                <ul>
                                    <li class="address">
                                        <span class="icon"><i class="fa fa-map-marker"></i></span>
                                        <p>Dirección: C\ La Inventada Nº 76</p>
                                    </li>
                                    <li class="phone">
                                        <span class="icon"><i class="fa fa-phone"></i></span>
                                        <p><a href="#">+34 654 654 654</a></p>
                                    </li>
                                    <li class="fax">
                                        <span class="icon"><i class="fa fa-fax"></i></span>
                                        <p><a href="#">+35 980 980 980</a></p>
                                    </li>
                                    <li class="email">
                                        <span class="icon"><i class="fa fa-envelope-o"></i></span>
                                        <p><a href="#">appetito@contact.com</a></p>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
        </div>

        <div class="copyright">
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>
                document.write(new Date().getFullYear());
            </script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i>
            by <a href="https://colorlib.com" target="_blank">Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </div>
    </div>
</footer>
<!-- Footer section end -->