{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/sidebar.css' %}" />
<link rel="stylesheet" href="{% static 'css/cpanel.css' %}" />
{% endblock extra_css %}
{% block title %}
- Carta
{% endblock title %}
{% block page-info %}
<section class="page-top-info set-bg" data-setbg="{% static 'img/page-top-bg/1.jpg' %}">
    <div class="ptf-center">
        <div class="container d-inline-flex">
            <h2>Gestión de Carta</h2>
        </div>
    </div>
</section>
{% endblock page-info %}
{% block content %}
<div class="wrapper">
    <!-- Sidebar -->
    {% include 'cpanel/partials/_sidebar.html' %}

    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Alerts -->
                {% include 'partials/_alerts.html' %}
            </div>
            <div class="container">
                <div class="row card-columns">
                    {% if user.profile.restaurante.categorias.count == 0 %}
                    <div class="col-12 pt-2">Aún no tienes categorías</div>
                    {% else %}
                    {% for categoria in user.profile.restaurante.categorias.all %}
                    <div class="col-12 col-md-6 pt-2">
                        <ul class="list-group card">
                            <li class="list-group-item d-flex">
                                <h4 class="list-group-item-text mr-auto">{{categoria}}</h4>
                                <form method="POST" action="{% url 'settings_menu_removecat' %}">
                                    {% csrf_token %}

                                    <input type="hidden" name="deletecatid" value="{{categoria.id}}">
                                    <button type="submit" class="btn badge badge-danger">
                                        <i class="fa fa-trash" data-toggle="tooltip" data-placement="top"
                                            title="Eliminar categoría"></i>
                                    </button>

                                    <button data-selector="editcat" data-catname="{{categoria}}"
                                        data-cat="{{categoria.id}}" data-toggle="modal" data-target="#editCat"
                                        class=" btn badge badge-info">
                                        <i data-toggle="tooltip" data-placement="top" title="Editar categoría"
                                            class="fa fa-edit"></i>
                                    </button>
                                </form>
                            </li>
                            {% if categoria.platos.count == 0 %}
                            <li class="list-group-item">
                                <h6 class="list-group-item-text">Aún no contiene platos</h6>
                            </li>
                            {% else %}
                            {% for plato in categoria.platos.all %}
                            <li class="list-group-item container">
                                <div class="row">
                                    <div class="col-3">
                                        <img src="{{MEDIA_URL}}{{plato.foto.url}}" class="img-circle">
                                    </div>

                                    <div class="col-6">
                                        <h4>{{plato}}</h4>
                                        <h6>{{plato.descripcion}}</h6>
                                        <h6><em>Ingredientes: {{plato.lista_ingredientes}}</em></h6>
                                        <h6 class="float-right"><b>{{plato.precio}} €</b></h6>
                                    </div>

                                    <div class="col-3">
                                        <div class="btn-group">
                                            <a href="{% url 'settings_menu_editfood' plato.id%}"
                                                class="btn badge badge-info float-right" data-toggle="tooltip"
                                                data-placement="top" title="Editar plato"><i class="fa fa-edit"></i></a>
                                            <form method="POST" action="{% url 'settings_menu_removefood' %}">
                                                {% csrf_token %}
                                                <input type="hidden" name="foodid" value="{{plato.id}}">
                                                <button type="submit" class="btn badge badge-danger float-right"
                                                    data-toggle="tooltip" data-placement="top" title="Eliminar plato"><i
                                                        class="fa fa-trash"></i></button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                            {% endif %}
                            {% if categoria.platos.all.count < user.profile.plan.max_productos_x_cat or user.profile.plan.max_productos_x_cat is 0 %}
                            <li class="list-group-item">
                                <button type="button" class="btn btn-primary" data-selector="addFood"
                                    data-toggle="modal" data-cat="{{categoria.id}}" data-catname="{{categoria}}"
                                    data-target="#addfood">
                                    Añadir plato
                                </button>
                            </li>
                            {% endif %}

                            </li>
                        </ul>
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% if user.profile.restaurante.categorias.all.count < user.profile.plan.max_categorias or user.profile.plan.max_categorias is 0 %}
                    <div class="col-12">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createCat">
                            Añadir categoría
                        </button>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Crear Categoria -->
<div class="modal fade" id="createCat" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Añadir categoría</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" action="{% url 'settings_menu_addCat' %}">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Nombre de la categoría</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Small" name="catname"
                            aria-describedby="inputGroup-sizing-sm">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Crear</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal Editar Categoria -->
<div class="modal fade" id="editCat" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Renombrar <span class="currentCatName"></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" action="{% url 'settings_menu_editCat' %}">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <input type="hidden" name="catidedit" id="catidedit" value="">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Nuevo nombre de la categoría</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Small" name="newcatname"
                            aria-describedby="inputGroup-sizing-sm">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Crear</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal añadir plato -->
<div class="modal fade" id="addfood" tabindex="-1" role="dialog" aria-labelledby="addfood" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><span class="catToAdd"></span>: Crear plato</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" enctype="multipart/form-data" id="addFoodForm"
                action="{% url 'settings_menu_newfood' %}">
                {% csrf_token %}
                <input type="hidden" id="categoria_id" name="categoria_id">
                <div class="modal-body">
                    {% crispy foodForm %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
{% block extra_js %}
<script src="{% static 'js/sidebar.js' %}"></script>
<script>
    $('[data-selector="editcat"').off('click').on('click', function (e) {
        e.preventDefault();
        $('#catidedit').val(e.target.dataset.cat);
        $('.currentCatName')[0].innerHTML = e.target.dataset.catname;
    })
    $('[data-selector="addFood"').off('click').on('click', function (e) {
        e.preventDefault();
        $('#categoria_id').val(e.target.dataset.cat);
        $('.catToAdd')[0].innerHTML = e.target.dataset.catname;
        $('#addFoodForm').trigger("reset");
    })
</script>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
{% endblock extra_js %}