{% extends "base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/sidebar.css' %}" />
<link rel="stylesheet" href="{% static 'css/cpanel.css' %}" />
<style>
    #map {
        height: 300px;
    }

    #description {
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
    }

    #infowindow-content .title {
        font-weight: bold;
    }

    #infowindow-content {
        display: none;
    }

    #map #infowindow-content {
        display: inline;
    }

    .pac-card {
        margin: 10px 10px 0 0;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        font-family: Roboto;
    }

    #pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
    }

    .pac-controls {
        display: inline-block;
        padding: 5px 11px;
    }

    .pac-controls label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
    }

    #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
    }

    #pac-input:focus {
        border-color: #4d90fe;
    }

    #title {
        color: #fff;
        background-color: #4d90fe;
        font-size: 25px;
        font-weight: 500;
        padding: 6px 12px;
    }

    #target {
        width: 345px;
    }
</style>
{% endblock extra_css %}
{% block title %}
- Ubicaciones
{% endblock title %}
{% block page-info %}
<section class="page-top-info set-bg" data-setbg="{% static 'img/page-top-bg/1.jpg' %}">
    <div class="ptf-center">
        <div class="container d-inline-flex">
            <h2>Opciones: Añadir ubicación</h2>
        </div>
    </div>
</section>
{% endblock page-info %}
{% block content %}
<div class="wrapper">
    <!-- Sidebar -->
    {% include 'cpanel/partials/_sidebar.html' %}

    <div class="container">
        <div class="row">
            <div class="container">
                <div class="row">

                </div>
                <div class="row">
                    <div class="col-12 mt-3">
                    <h5>Busca tu localización</h5>
                        <input id="pac-input" class="controls" type="text" placeholder="Search Box">
                        <div id="map"></div>
                        <form action="" method="POST">
                        {%csrf_token%}
                        <input id="lat" hidden name="lat" class="form-control form-control-lg" type="text" placeholder="lat">
                        <input id="long" hidden name="long" class="form-control form-control-lg" type="text" placeholder="long">
                        <input id="dir" name="dir" required class="form-control form-control-lg" type="text" placeholder="Dirección: Calle La Roda Nº 2, 2ºB">
                        <button id="submitbtn" type="submit" disabled class="btn btn-success">Añadir</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block extra_js %}
<script src="{% static 'js/sidebar.js' %}"></script>
<script>
function initAutocomplete() {
    
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -33.8688, lng: 151.2195},
          zoom: 13,
          mapTypeId: 'roadmap'
        });

        // Create the search box and link it to the UI element.
        var input = document.getElementById('pac-input');
        var searchBox = new google.maps.places.SearchBox(input);
        map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

        // Bias the SearchBox results towards current map's viewport.
        map.addListener('bounds_changed', function() {
          searchBox.setBounds(map.getBounds());
        });
            
        //Add listener
        map.addListener("click", function (event) {
          $('#submitbtn').prop('disabled', false);
            var latitude = event.latLng.lat();
            var longitude = event.latLng.lng();
            $('#lat').val(latitude);
            $('#long').val(longitude);
            //Funcion para rellenar la direccion
            marker = new google.maps.Marker({
              map: map,
              icon: 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png',
              position: event.latLng
            })
            autoCompletar(marker)
            // Center of map
            map.panTo(new google.maps.LatLng(latitude,longitude));
            markers.forEach(function (m){m.setMap(null)});
            markers.push(marker);
            

            //Funcion para rellnar el input de direccion
            function autoCompletar(marcador) {
                  if(marcador)
                  {
                      var pos=marcador.getPosition()
                      consultaGoogle(pos.lat()+','+pos.lng());                      
                                   
                      
                  }
              }

              //Funcion ajax a google
              function consultaGoogle(consulta){
                  $.ajax({
                      type: "GET",
                      async:false,
                      url: 'https://maps.google.com/maps/api/geocode/json?key=AIzaSyDc6HDmgojxSFFUkJ5fjY0km_F_iZBHvSU&address='+encodeURI(consulta)
                  }).done(function ( res ) {
                      if(res!='ERROR'){
                        $('input#dir').val(JSON.stringify(res.results[0].formatted_address).replace(/['"]+/g, ''));
                      }else{
                        $('input#dir').val("Error, escriba dirección manual"); 
                      }
                  });
                }

        }); //end addListener
        var markers = [];
        // Listen for the event fired when the user selects a prediction and retrieve
        // more details for that place.
        searchBox.addListener('places_changed', function() {
          var places = searchBox.getPlaces();

          if (places.length == 0) {
            return;
          }

          // Clear out the old markers.
          markers.forEach(function(marker) {
            marker.setMap(null);
          });
          markers = [];

          // For each place, get the icon, name and location.
          var bounds = new google.maps.LatLngBounds();
          places.forEach(function(place) {
            if (!place.geometry) {
              console.log("Returned place contains no geometry");
              return;
            }
            var icon = {
              url: place.icon,
              size: new google.maps.Size(71, 71),
              origin: new google.maps.Point(0, 0),
              anchor: new google.maps.Point(17, 34),
              scaledSize: new google.maps.Size(25, 25)
            };

            // Create a marker for each place.
            markers.push(new google.maps.Marker({
              map: map,
              icon: icon,
              title: place.name,
              position: place.geometry.location
            }));

            if (place.geometry.viewport) {
              // Only geocodes have viewport.
              bounds.union(place.geometry.viewport);
            } else {
              bounds.extend(place.geometry.location);
            }
          });

          
          map.fitBounds(bounds);

          
        });
      }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDc6HDmgojxSFFUkJ5fjY0km_F_iZBHvSU&libraries=places&callback=initAutocomplete"
         async defer></script>
{% endblock extra_js %}