{% extends "base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/sidebar.css' %}" />
<link rel="stylesheet" href="{% static 'css/cpanel.css' %}" />
{% endblock extra_css %}
{% block title %}
- Ubicaciones
{% endblock title %}
{% block page-info %}
<section class="page-top-info set-bg" data-setbg="{% static 'img/page-top-bg/1.jpg' %}">
    <div class="ptf-center">
        <div class="container d-inline-flex">
            <h2>Lista de ubicaciones</h2>
        </div>
    </div>
</section>
{% endblock page-info %}
{% block content %}
<div class="wrapper">
    <!-- Sidebar -->
    {% include 'cpanel/partials/_sidebar.html' %}

    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Alerts -->
                {% include 'partials/_alerts.html' %}
            </div>
            <div class="container">
                <div class="row">
                    <ul class="list-group col-12 mt-2">
                    {% if user.profile.restaurante.direcciones.all.count == 0 %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Aún no has añadido ubicaciones a tu restaurante.                           
                        </li>
                    {%else%}
                        {% for loc in user.profile.restaurante.direcciones.all %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            {{ loc.direccion }}
                            <a href="{% url 'settings_loc_delete' loc.id%}" class="badge badge-danger badge-pill text-light">Eliminar</a>
                        </li>
                        {% endfor %}
                    {% endif %}
                    </ul>
                </div>
                {% if user.profile.restaurante.direcciones.all.count < user.profile.plan.max_empresas %}
                <div class="row">
                <div class="col-12">                
                <a href="{% url 'settings_loc_create' %}" class="btn btn-primary float-right text-light">Añadir nueva ubicación</a>
                </div>
                </div>
                {%else%}
                <div class="row">
                <div class="col-12">                
                <p>Has alcanzado tu máximo de direcciones. Puedes eliminar alguna o ascender de plan.</p>
                </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block extra_js %}
<script src="{% static 'js/sidebar.js' %}"></script>
{% endblock extra_js %}