	<nav id="sidebar">
		<ul class="list-unstyled components">
		<li>
				<a href="{% url 'cpanel_board' %}">
					<i class="fa fa-home"></i>
					Home
				</a>
			</li>
			<li>
				<a href="#restSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
					<i class="fa fa-cutlery"></i>
					Restaurante
				</a>
				<ul class="collapse list-unstyled" id="restSubmenu">
					<li>
						<a href="{% url 'settings_rest_update' %}">Ver</a>
					</li>
					<li>
						<a href="{% url 'settings_rest_update' %}">Editar</a>
					</li>
				</ul>
				
			</li>
			<li>
				<a href="#locSubMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
					<i class="fa fa-compass"></i>
					Ubicaciones
				</a>
				<ul class="collapse list-unstyled" id="locSubMenu">
					<li>
						<a href="{% url 'settings_loc_view' %}">Ver</a>
					</li>
				</ul>
				
			</li>
			<li class="active">
				<a href="#settingsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
					<i class="fa fa-wrench"></i>
					Mi cuenta
				</a>
				<ul class="collapse list-unstyled" id="settingsSubmenu">
					<li>
						<a href="{% url 'settings_plan_idx' %}">Plan</a>
					</li>
				</ul>
			</li>			
			<li>
				<a href="#">
					<i class="fa fa-briefcase"></i>
					About
				</a>
			</li>
		</ul>

	</nav>
	<div id="content">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container-fluid">
				<button type="button" id="sidebarCollapse" class="btn btn-info">
					<i class="fa fa-bars"></i>
					<span></span>
				</button>
			</div>
		</nav>
	</div>