{% extends "base.html" %}
{% load static %}
{% block title %}
- Resultados
{% endblock title %}
{% block extra_css %}
<style>
	#map {
		height: 350px;
	}

	.event-list {
		list-style: none;
		font-family: 'Lato', sans-serif;
		margin: 0px;
		padding: 0px;
	}

	.event-list>li {
		background-color: rgb(255, 255, 255);
		box-shadow: 0px 0px 5px rgb(51, 51, 51);
		box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
		padding: 0px;
		margin: 0px 0px 20px;
	}

	.event-list>li>time {
		display: inline-block;
		width: 100%;
		color: rgb(255, 255, 255);
		background-color: rgb(197, 44, 102);
		padding: 5px;
		text-align: center;
		text-transform: uppercase;
	}

	.event-list>li:nth-child(even)>time {
		background-color: rgb(165, 82, 167);
	}

	.event-list>li>time>span {
		display: none;
	}

	.event-list>li>time>.day {
		display: block;
		font-size: 56pt;
		font-weight: 100;
		line-height: 1;
	}

	.event-list>li time>.month {
		display: block;
		font-size: 24pt;
		font-weight: 900;
		line-height: 1;
	}

	.event-list>li>img {
		width: 100%;
	}

	.event-list>li>.info {
		padding-top: 5px;
		text-align: center;
	}

	.event-list>li>.info>.title {
		font-size: 17pt;
		font-weight: 700;
		margin: 0px;
	}

	.event-list>li>.info>.desc {
		font-size: 13px;
		font-weight: 300;
		margin: 0px;
		padding:0px;
	}

	.event-list>li>.info>ul,
	.event-list>li>.social>ul {
		display: table;
		list-style: none;
		margin: 10px 0px 0px;
		padding: 0px;
		width: 100%;
		text-align: center;
	}

	.event-list>li>.social>ul {
		margin: 0px;
	}

	.event-list>li>.info>ul>li,
	.event-list>li>.social>ul>li {
		display: table-cell;
		cursor: pointer;
		color: rgb(30, 30, 30);
		font-size: 11pt;
		font-weight: 300;
		padding: 3px 0px;
	}

	.event-list>li>.info>ul>li>a {
		display: block;
		width: 100%;
		color: rgb(30, 30, 30);
		text-decoration: none;
	}

	.event-list>li>.social>ul>li {
		padding: 0px;
	}

	.event-list>li>.social>ul>li>a {
		padding: 3px 0px;
	}

	.event-list>li>.info>ul>li:hover,
	.event-list>li>.social>ul>li:hover {
		color: rgb(30, 30, 30);
		background-color: rgb(200, 200, 200);
	}

	.facebook a,
	.twitter a,
	.google-plus a {
		display: block;
		width: 100%;
		color: rgb(75, 110, 168) !important;
	}

	.twitter a {
		color: rgb(79, 213, 248) !important;
	}

	.google-plus a {
		color: rgb(221, 75, 57) !important;
	}

	.facebook:hover a {
		color: rgb(255, 255, 255) !important;
		background-color: rgb(75, 110, 168) !important;
	}

	.twitter:hover a {
		color: rgb(255, 255, 255) !important;
		background-color: rgb(79, 213, 248) !important;
	}

	.google-plus:hover a {
		color: rgb(255, 255, 255) !important;
		background-color: rgb(221, 75, 57) !important;
	}

	@media (min-width: 768px) {
		.event-list>li {
			position: relative;
			display: block;
			width: 100%;
			height: 120px;
			padding: 0px;
		}

		.event-list>li>time,
		.event-list>li>img {
			display: inline-block;
		}

		.event-list>li>time,
		.event-list>li>img {
			width: 120px;
			float: left;
		}

		.event-list>li>.info {
			background-color: rgb(245, 245, 245);
			overflow: hidden;
		}

		.event-list>li>time,
		.event-list>li>img {
			width: 120px;
			height: 120px;
			padding: 0px;
			margin: 0px;
		}

		.event-list>li>.info {
			position: relative;
			height: 120px;
			text-align: left;
			padding-right: 40px;
		}

		.event-list>li>.info>.title,
		.event-list>li>.info>.desc {
			padding: 0px 10px;
		}

		.event-list>li>.info>ul {
			position: absolute;
			left: 0px;
			bottom: 0px;
		}

		.event-list>li>.social {
			position: absolute;
			top: 0px;
			right: 0px;
			display: block;
			width: 40px;
		}

		.event-list>li>.social>ul {
			border-left: 1px solid rgb(230, 230, 230);
		}

		.event-list>li>.social>ul>li {
			display: block;
			padding: 0px;
		}

		.event-list>li>.social>ul>li>a {
			display: block;
			width: 40px;
			padding: 10px 0px 9px;
		}
	}

	/**SLider**/

	.price-box {
		margin: 0 auto;
		background: #E9E9E9;
		border-radius: 10px;
		padding: 40px 15px;
		width: 500px;
	}

	.ui-widget-content {
		border: 1px solid #bdc3c7;
		background: #e1e1e1;
		color: #222222;
		margin-top: 4px;
	}

	.ui-slider .ui-slider-handle {
		position: absolute;
		z-index: 2;
		width: 5.2em;
		height: 2.2em;
		cursor: default;
		margin: 0 -40px auto !important;
		text-align: center;
		line-height: 30px;
		color: #FFFFFF;
		font-size: 15px;
	}

	.ui-slider .ui-slider-handle .glyphicon {
		color: #FFFFFF;
		margin: 0 3px;
		font-size: 11px;
		opacity: 0.5;
	}

	.ui-corner-all {
		border-radius: 20px;
	}

	.ui-slider-horizontal .ui-slider-handle {
		top: -.9em;
	}

	.ui-state-default,
	.ui-widget-content .ui-state-default {
		border: 1px solid #f9f9f9;
		background: #3498db;
	}

	.ui-slider-horizontal .ui-slider-handle {
		margin-left: -0.5em;
	}

	.ui-slider .ui-slider-handle {
		cursor: pointer;
	}

	.ui-slider a,
	.ui-slider a:focus {
		cursor: pointer;
		outline: none;
	}

	.price,
	.lead p {
		font-weight: 600;
		font-size: 32px;
		display: inline-block;
		line-height: 60px;
	}

	h4.great {
		background: #00ac98;
		margin: 0 0 25px -60px;
		padding: 7px 15px;
		color: #ffffff;
		font-size: 18px;
		font-weight: 600;
		border-radius: 5px;
		display: inline-block;
		-moz-box-shadow: 2px 4px 5px 0 #ccc;
		-webkit-box-shadow: 2px 4px 5px 0 #ccc;
		box-shadow: 2px 4px 5px 0 #ccc;
	}

	.total {
		border-bottom: 1px solid #7f8c8d;
		/*display: inline;
	padding: 10px 5px;*/
		position: relative;
		padding-bottom: 20px;
	}

	.total:before {
		content: "";
		display: inline;
		position: absolute;
		left: 0;
		bottom: 5px;
		width: 100%;
		height: 3px;
		background: #7f8c8d;
		opacity: 0.5;
	}

	.price-slider {
		margin-bottom: 70px;
	}

	.price-slider span {
		font-weight: 200;
		display: inline-block;
		color: #7f8c8d;
		font-size: 13px;
	}

	.form-pricing {
		background: #ffffff;
		padding: 20px;
		border-radius: 4px;
	}

	.price-form {
		background: #ffffff;
		margin-bottom: 10px;
		padding: 20px;
		border: 1px solid #eeeeee;
		border-radius: 4px;
		/*-moz-box-shadow:    0 5px 5px 0 #ccc;
  	-webkit-box-shadow: 0 5px 5px 0 #ccc;
  	box-shadow:         0 5px 5px 0 #ccc;*/
	}
</style>
{% endblock %}
{% block page-info %}
<section class="page-top-info set-bg" data-setbg="{% static 'img/page-top-bg/2.jpg' %}">
	<div class="ptf-center">
		<div class="container d-inline-flex">
			<h2>Resultados de búsqueda</h2>
		</div>
	</div>
</section>
{% endblock page-info %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-3">
			<div class="row align-items-center d-flex flex-column justify-content-center">
				<form method="GET" class="col-12 row">
					<div class="col-12 pt-3">
						<h6>Filtrar búsqueda<h6>
					</div>
					<div class="col-12 pt-3">
						<h4 class="great">Nombre o tag</h4>
						<div class="form-group">
							<input type="text" name="q" class="form-control" placeholder="Buscar..."
								value="{% if request.GET.q %}{{request.GET.q}}{%endif%}">
						</div>
					</div>
					<div class="price-slider col-12 pt-3">
						<h4 class="great">Precio máximo</h4>
						<div class="col-sm-12">
							<div id="slider"></div>
							<input type="hidden" id="pm" name="pm" value="{% if request.GET.pm %}{{request.GET.pm}}{%endif%}">
						</div>
					</div>
					<div class="price-slider col-12 pt-3">
						<h4 class="great">Distancia en km</h4>
						<div class="col-sm-12">
							<div id="slider2"></div>
							<input type="hidden" name="current_lat" id="current_lat">
							<input type="hidden" name="current_lon" id="current_lon">
							<input type="hidden" id="r" name="r" value="{% if request.GET.r %}{{request.GET.r}}{%endif%}">
						</div>
					</div>
					<div class="col-12 mb-3">
						<button type="submit" id="search_btn" class="btn btn-primary btn-block">Filtrar</button>
					</div>
				</form>
			</div>
		</div>
		<div class="col-9 pt-3">

			{% if results.count > 0 %}
			<div class="row">
				<div class="col-12">
					<div id="map"></div>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<h2 class="pt-2">Resultados:</h2>
					<ul class="event-list">
						{% for plato in results %}
						<li>
							<img alt="{{plato.categoria.restaurante}}" title="{{plato.categoria.restaurante}}"
								src="{{MEDIA_URL}}{{plato.categoria.restaurante.logo.url}}" />
							<img alt="{{plato}}" title="{{plato}}" src="{{MEDIA_URL}}{{plato.foto.url}}" />
							<div class="info">
								<h2 class="title">{{plato}}: {{plato.precio}} €</h2>
								<p class="desc">{{plato.descripcion}}<em>{{plato.lista_ingredientes}}</em>
								<ul>
									<li style="width:50%;">{{plato.categoria.restaurante.telefono}}</li>
									<li style="width:50%;"><a
											href="{% url 'ver_restaurante' plato.categoria.restaurante.id %}"><span
												class="fa fa-globe"></span>
											Ver carta completa</a></li>
								</ul>
							</div>
						</li>
						{% endfor %}
					</ul>
				</div>
			</div>
			{% else %}
			<div class="alert alert-danger" role="alert">
				No se han encontrado resultados.
			</div>
			{% endif %}
		</div>
	</div>
</div>
{% endblock content %}
{% block extra_js %}
<script src="https://code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>
<script>
//LatLong to imputs
	if (navigator.geolocation) {
			navigator.geolocation.getCurrentPosition(function (position) {
				$('#current_lat').val(position.coords.latitude);
				$('#current_lon').val(position.coords.longitude);

				if(window.location.href.indexOf('&current_lat=')==-1 || window.location.href.indexOf('&current_lon=')==-1){
					$('#search_btn').trigger('click')
				}
			});
		}
	</script>
<script>
	var map;

	//Initialize
	function initMap() {
		if($("#map").length){
		map = new google.maps.Map(document.getElementById('map'), {
			zoom: 15
		});
		autoCenter(map);
		drawMarkers(map);
		}
	}

	//Center
	function autoCenter(mymap) {
		if (navigator.geolocation) {
			navigator.geolocation.getCurrentPosition(function (position) {
				$('#current_lat').val(position.coords.latitude);
				$('#current_lon').val(position.coords.longitude);
				initialLocation = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
				mymap.setCenter(initialLocation);
			});
		}
	}

	//markers
	function drawMarkers(mymap){	
		var markers=[];	
		{% for ub in direcs %}
		var mark = new google.maps.Marker({
			position: new google.maps.LatLng({{ub.getTxtLat}},{{ub.getTxtLong}}),
			title: '{{ub.restaurante}}',
			animation: google.maps.Animation.DROP,
			icon: {
			url: 'http://localhost:8000{{MEDIA_URL}}{{ub.restaurante.logo.url}}', // url
			scaledSize: new google.maps.Size(30, 30), // size
			},
			url: "https://www.google.es/maps/@{{ub.getTxtLat}},{{ub.getTxtLong}}z"
		})
		markers.push(mark);
		google.maps.event.addListener(mark, 'click', function() {
			 window.open(this.url,'_blank');
		});
		{% endfor %}
		markers.forEach(function(marker){
			console.log(marker)
			marker.setMap(mymap);
		})
	}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbA0mJ4aoUWtt1svmeoPvVJ-bMFwQyK8k&callback=initMap" async
	defer></script>

<script>
	$(document).ready(function () {
		$("#slider").slider({
			animate: true,
			value: {% if request.GET.pm %}{{request.GET.pm}}{%else%}0{%endif%},
			min: 0,
			max: 300,
			step: 1,
			slide: function (event, ui) {
				update(1, ui.value); //changed
			}
		});

		$("#slider2").slider({
			animate: true,
			value: {% if request.GET.r %}{{request.GET.r}}{%else%}0{%endif%},
			min: 0,
			max: 100,
			step: 1,
			slide: function (event, ui) {
				update(2, ui.value); //changed
			}
		});

		//Added, set initial value.
		$("#slider").val({% if request.GET.pm %}{{request.GET.pm}}{%else%}0{%endif%});
		$("#slider2").val({% if request.GET.r %}{{request.GET.r}}{%else%}0{%endif%});

		update();
	});

	//changed. now with parameter
	function update(slider, val) {
		//changed. Now, directly take value from ui.value. if not set (initial, will use current value.)
		if( slider == 1){
			$('#slider a').html('<label><span class="fa fa-chevron-left"></span> ' + val +
			' <span class="fa fa-chevron-right"></span></label>');
			$('#pm').val(val)
		}else if( slider == 2){
			$('#slider2 a').html('<label><span class="fa fa-chevron-left"></span> ' + val +
			' <span class="fa fa-chevron-right"></span></label>');
			$('#r').val(val)
		}else{
			$('#slider a').html('<label><span class="fa fa-chevron-left"></span> ' + "{% if request.GET.pm %}{{request.GET.pm}}{%else%}0{%endif%}" +
			' <span class="fa fa-chevron-right"></span></label>');
			$('#slider2 a').html('<label><span class="fa fa-chevron-left"></span> ' + "{% if request.GET.r %}{{request.GET.r}}{%else%}0{%endif%}" +
			' <span class="fa fa-chevron-right"></span></label>');
		}
		
	}
</script>
{% endblock %}